aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
.deps
.dirstamp
.gitignore
GPATH
GRTAGS
GTAGS
libltdl
.libs
libtool
*.lo
m4/argz.m4
m4/aux/
m4/libtool.m4
m4/ltdl.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
*.o
src/Makefile
stamp-h1
*.swp
